.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
  border: 1px solid black;
  display: flex;
}

.game {
  width: 960px;
}

.info {
  border-right: 1px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid black;
  overflow-y: hidden;
}

.chat > div:nth-child(even) {
  background-color: #c0c0c0;
}

.accepted {
  background-color: #59dc27;
}

.duplicate {
  background-color: #dc8227;
}

.assets {
  display: none;
}
