[v-cloak] {
  display: none !important;
}

* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
  border: 1px solid black;
  display: flex;
}

.game {
  width: 960px;
}

.sidebar {
  border-right: 1px solid black;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: hidden;
  border-top: 1px solid black;
}

.chat > div {
  padding: 3px;
}

.chat > div:nth-child(even) {
  background-color: #c0c0c0;
}

.accepted {
  background-color: #59dc27;
}

.duplicate {
  background-color: #dc8227;
}

.assets {
  display: none;
}

.connect {
  background: #cc2424;
}

.connect.connected {
  background: #4bcb4b;
}

.map {
  display: flex;
  justify-content: center;
}

#map-canvas {
  max-height: 250px;
}
